<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Diagnostic Expert Advisor</title>
</head>

<body>
    {% include "nav.html" %}
    <div class="bg-light p-5 rounded-lg m-3">
        <div class="container">
            <h2>Detailed Report on Encounter {{ e.id }} <span class="badge badge-pill badge-danger">ARDS</span></h2>
            <div id="accordion">
                {% for p in plots %}
                <div class="card">
                    <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading{{ loop.index }}">
                        <div class="card-body">
                            {{ p|safe }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {{pygplot|safe}}
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>

</html>