<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Diagnostic Expert Advisor</title>
</head>

<body>
    {% include "nav.html" %}
    <div class="bg-light p-5 rounded-lg m-3">
        <form method="post" action="set_filters">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h2>Filters:</h2>
                    </div>
                    <div class="d-flex">
                        {% for f in FILTERS%}
                        <div class="d-flex p-2">
                            <input type="checkbox" class="btn-check btn-fill" id="{{f}}" name="{{f}}" {% if f in
                                ACTIVE_FILTERS %} checked {% endif %} autocomplete="off">
                            <label class="btn btn-outline-primary" for="{{f}}">{{f}}</label>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-success">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="encounters" class="list-group p-5">
            {% for e in data %}
            <!-- this shoul not limit the list length while the pagination above is not implemented -->
            <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="row">
                    <div class="col">
                        <h5>Encounter {{e.id}}</h5>
                    </div>
                    <div class="col">
                        {% if e.processed is not none %}
                        <span class="badge bg-success p-1">processed</span>
                        {% endif %}
                    </div>
                    <div class="col">
                        <small>
                            {% if e.dynamic.index[-1].days < 3 %} <span class="badge bg-primary">Short Stay</span>
                                {% endif %}
                                {% if e.dynamic["Horowitz-Quotient_(ohne_Temp-Korrektur)"].min() < 100 %} <span
                                    class="badge bg-secondary"> Severe ARDS</span>
                                    {% elif e.dynamic["Horowitz-Quotient_(ohne_Temp-Korrektur)"].min() < 200 %} <span
                                        class="badge bg-secondary"> Moderate ARDS</span>
                                        {% elif e.dynamic["Horowitz-Quotient_(ohne_Temp-Korrektur)"].min() < 300 %}
                                            <span class="badge bg-secondary"> Mild ARDS</span>
                                            {% endif %}
                                            {% if e.dynamic["Horowitz-Quotient_(ohne_Temp-Korrektur)"].unique()|length >
                                            100 %}
                                            <span class="badge bg-warning"> Many Measurements</span>
                                            {% endif %}
                        </small>
                    </div>
                    <div class="col-sm-6">
                        <div class="d-flex">
                            <form method="post" action="/encounter/{{e.id}}" style="margin-left: 1em;">
                                <button type="sumbit" class="btn btn-sm btn-primary">Show</button>
                            </form>
                            <form method="post" action="/process/{{e.id}}" style="margin-left: 1em;">
                                <button type="sumbit"
                                    class="btn btn-sm {% if e.processed is not none %} btn-outline-success {% else %} btn-success {% endif %}">Process</button>
                            </form>
                            <form method="post" action="/delete/{{e.id}}" style="margin-left: 1em;">
                                <button type="sumbit"
                                    class="btn btn-sm {% if e.processed is none %} btn-outline-danger {% else %} btn-danger {% endif %}">Delete
                                    Processed</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <nav aria-label="Encounter List Navigation">
                    <ul class="pagination justify-content-center">
                        <li class="text-center page-item col-1 {% if page == 1 %} disabled {% endif %}"><a class="page-link" href="?page=1">First</a></li>
                        <li class="text-center page-item col-1 {% if page == 1 %} disabled {% endif %} "><a class="page-link" href="?page={{ page - 1 }}">Previous</a></li>

                        <div class="col-4 d-flex justify-content-center">
                            {% for p in range([page - 2, 1] | max, [page + 2, (total // per_page)] | min + 1 ) %}
                            {% if p == page %}
                            <li class="text-center page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% else %}
                            <li class="text-center page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </div>

                        
                        <li class="text-center page-item col-1 {% if page == (total // per_page)%} disabled {% endif %}"><a class="page-link" href="?page={{ page + 1 }}">Next</a></li>
                        <li class="text-center page-item col-1 {% if page == (total // per_page)%} disabled {% endif %}"><a class="page-link" href="?page={{ (total // per_page)}}">Last</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
        </script>
</body>

</html>