<!doctype html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">

    <title>Diagnostic Expert Advisor</title>
</head>

<body>
    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Diagnostic Expert Advisor</h1>
        <h3>Select Cohort</h3>
        <form method="post" action="set_cohort">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {% for  cohort in available_cohorts %}
                <input type="submit" name="cohort" value="{{cohort}}" class="btn btn-outline-primary"/>
                {% endfor %}
          </div>
        </form>
    </div>
    {% include "footer.html" %}
</body>

</html>